<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, height=device-height, viewport-fit=cover, minimum-scale=1"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/avatar.css" />
    <title>Just Spin</title>
  </head>
  <body>
    <div class="block">
      <h2>Create account</h2>
      <h4>avatar</h4>
      <div class="avatar_cont"></div>
      <div class="name">
        <span>name</span>
        <div class="block">
          <input type="text" placeholder="Input your name" />
        </div>
        <span></span>
      </div>
      <a href="main.html"><div class="block">PLAY</div></a>
    </div>
    <script src="../scripts/avatar.js" type="module"></script>
  </body>
</html>
