<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, height=device-height, viewport-fit=cover, minimum-scale=1"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Just Spin</title>
  </head>
  <body>
    <div class="main">
      <img src="../png/main.png" alt="roulette" />
      <a href="./game.html"><div class="block">PLAY</div></a>
    </div>

    <div class="block online">
      <span>Friends online: 4</span>
    </div>

    <div class="player">
      <div class="block name"></div>
      <div class="block balance_field"></div>
    </div>
    
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
